# Appwrite Configuration
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PLATFORM_ANDROID=com.twolips.android
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_BUCKET_TEMPORARY_IMAGES=

# OneSignal
EXPO_PUBLIC_ONESIGNAL_APP_ID=

# EAS
EXPO_PUBLIC_EAS_PROJECT_ID=

# Vercel environment variable (set in Vercel dashboard, not here)
# ONESIGNAL_API_KEY=
